<h1>
  Add a new follow
</h1>


<hr>

<form action="/create_follow" method="post">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control">
  </div>

  <input type="hidden" name="recipient_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <%= select_tag(:sender_id, options_from_collection_for_select(User.all, :id, :created_at, @follow.sender_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create follow
  </button>
</form>

<hr>

<a href="/follows">
  Go back
</a>
